include ../../source/skeleton.pug
+post('JVM 옵션 및 성능 관련사항', 'JVM, Java, Performance', 'JVM 옵션 및 성능 관련사항 정리')
    h1 성능 지표
    table
        +ths('EN', 'KR', 'e.g.')
        +tds('Throughput', '처리율', '초당 처리된 트랜잭션')
        +tds('Latency', '지연', '평균 요청 처리 시간')
        +tds('Capacity', '수용량', '최대 동시 처리 가능 요청 수')
        +tds('Utilization', '사용률', '평균 CPU 사용률')
        +tds('Efficiency', '효율', 'throughput / 비용')
        +tds('Scalability', '확장성', '리소스 추가에 따른 throughput 향상 정도')
        +tds('Degradation', '저하', '부하 증가에 따른 throughput 감소 정도')

    h1 GC
    div
        h2 용어
        ul
            li STW; Stop the world
            p GC를 위해 모든 애플리케이션 스레드를 정지하는 것
            li Safepoint
            p GC를 위해 스레드가 중단될 수 있는 지점. 스레드 내 고정된 자료구조를 볼 수 있다. JVM이 강제로 스레드를 safepoint 상태로 바꿀 수는 없다. 대신 스레드가 safepoint 상태에서 벗어나지 못하게 할 수는 있다.

        h2 힙 = Young Generation + Old Generation
        ul
            li Young Generation
            ol
                li Eden Space : 최초 생성된 객체들
                li Survivor Space : Eden에서 수집 제외된 객체들
                p From, To 두 단계로 구분되며, 이후 Tenured로 이동
            p Young Generation이 큰 경우 덜 자주 수집되고, 더 적은 객체가 Old Generation으로 이동. 대신 Old Generation이 작아 풀 GC는 더 자주 일어난다
            li Tenured(Old) : Survivor에서 수집 제외된 객체들
            li Permanent Generation
            ul
                li 객체 GC 대상이 아닌 영역으로, PermGen이라고도 한다.
                li 클래스 정의, String 상수 등 불변 객체들을 갖는다.
                li Java 8에서 Metaspace로 변경됐다
                p 크기 한계(MaxMetaspaceSize)에 도달하면 dead class 정보는 삭제된다

        h2 GC 선정 시 유의사항
        ul
            li 각 GC로 인한 중단 기간
            li 처리율 : 전체 런타임 대비 GC 시간
            li 중단 빈도
            li 회수 효율
            li 중단 일관성 : 중단 기간 일정한지

        h2 GC 종류
        ul
            li 병렬 GC
            p 되도록 STW를 줄이기 위해 병렬 스레드 이용. 가능한 경우 애플리케이션과 동시 실행.
            li Parallel GC
            p 단순한 영 세대용 병렬 GC
            li ParNew GC
            p CMS GC와 함께 사용할 목적으로 Parallel GC를 변형한 것
            li ParallelOld GC
            p 올드 세대용 병렬 GC. 객체를 재배치하여 메모리 단편화가 발생하지 않는다.
            li CMS; Concurrent Mark Sweep
            +asCode('bash').
                java ... -XX:+UseConcMarkSweepGC
                # ParNew GC도 같이 작동한다
            ul
                li 올드 영역 GC의 STW를 짧게 하기 위해 개발됨.
                li 메모리 압착을 하지 않아 단편화 발생 가능.
                li 올드 영역 메모리가 아예 부족해진 경우(CMF; Concurrent Mode Failure) ParallelOld GC 실행
            li G1; Garbage First
            +asCode('bash').
                java ... -XX:+UseG1GC
                # Java 9부터는 default GC

                -XX:MaxGCPauseMillis=200
                # 최대 중단 시간 목표치(ms). 즉 실제로는 넘을 수 있음
            ul
                li 대용량 힙에서 짧은 STW로 작동하는 수집기
                li 힙을 여러 영역(region)으로 나누고, 영/올드 세대를 불연속적으로 배치할 수 있다
                li 메모리 압착 수행

    h1 JVM 파라미터
    ol
        li Boolean flag
        +asCode('bash').
            XX:+FlagName
            XX:-FlagName

        li Value flag
        +asCode('bash') -XX:FlagName=value
    div
        h2 주요 플래그
        ul
            li 힙 크기 관련
            +asCode('bash').
                -XmsN # 초기값
                -XmxN # 최대값

                -XX:MaxPermSize=N       # ~ Java 7
                -XX:MaxMetaspaceSize=N  # Java 8 ~

                # 힙 덤프 관련
                -XX:+HeapDumpOnOutOfMemoryError # 메모리 부족시 힙 덤프 생성
                -XX:HeapDumpPath={path}         # 힙 덤프 작성 위치
                -XX:+HeapDumpBeforeFullGC       # 풀 GC 전에 힙 덤프 생성
                -XX:+HeapDumpAfterFullGC        # 풀 GC 후에 힙 덤프 생성

                # 아래 부분은 알아서 잘 설정되며, Parallel GC에서 최후의 수단으로 조정
                -XX:NewSize=N       # Young Generation 초기 크기
                -XX:MaxNewSize=N    # Young Generation 최대 크기
                -XmnN               # NewSize, MaxNewSize 동일하게 설정
                -XX:NewRatio=N      # (Young Generation 초기 크기) = (힙 초기 크기) / (1 + NewRatio)
                -XX:SurvivorRatio=N # (Young Generation 크기) = N * (Survivor Space 크기)

                # MaxGCPauseMillis를 제외한 G1 튜닝을 하려면 아래 옵션을 켜야 한다
                -XX:+UnlockExperimentalVMOptions
            p 힙 덤프 해석 툴 예 : 
                +asA('https://heaphero.io/', 'heaphero')

            li GC 관련
                -XX:ParallelGCThreads=N         # 병렬 스레드 개수
                -XX:GCHeapFreeLimit=N           # 풀 GC로 힙의 N% 이상 해제되면 OK
                -XX:MaxTenuringThreshold=N      # 테뉴어드 영역으로 승격되기 전까지 통과해야 하는 수집 횟수

                # GC logging
                -XX:+PrintGCDetails             # GC 이벤트 로깅 ON
                -XX:+PrintTenuringDistribution  # 상세 정보 포함
                -XX:+PrintGCTimeStamps          # VM 이후 경과한 시간
                -XX:+PrintGCDateStamps          # 이벤트 시각(벽시계 기준)

                -Xloggc:/var/log/app/gc.log         # ~ Java 8
                -Xlog:gc*:file=/var/log/app/gc.log  # Java 9 ~

                # 로그 파일 순환 관련
                -XX:+UseGCLogFileRotation
                -XX:+NumberOfGCLogFiles=10
                -XX:+GCLogFileSize=10m
            p GC 로그는 
                +asA('https://github.com/chewiebug/GCViewer')
                |  등으로 시각화 가능

            li JIT 관련
            +asCode('bash').
                -XX:ReservedCodeCacheSize=N # 최대 코드 캐시 크기. 최초 설정 후 동적으로 확장되지 않는다
                -XX:+PrintCompilation       # 어떤 메서드가 JIT 컴파일 됐는지 STDOUT 출력

            li Default networking timeout
            +asCode('bash').
                -Dsun.net.client.defaultConnectTimeout=2000 # 2000ms
                -Dsun.net.client.defaultReadTimeout=2000    # 2000ms

    h1 Java 옵션(JAVA_OPTS)
    ol
        li user.timezone 프로퍼티 기본값 지정
        +asCode('shell') $ java -Duser.timezone=Asia/Seoul
        li 인코딩 관련 설정
        +asCode('shell') $ java -Dfile.encoding=UTF-8 -Dfile.client.encoding=UTF-8 -Dclient.encoding.override=UTF-8
        li 리모트 디버깅 설정
        ul
            li 링크 : 
                +asA('https://stackoverflow.com/a/22631355', 'StackOverflow answer')
                +asA('https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/introclientissues005.html', 'Java technote')
        +asCode('shell').
            # Before JDK 1.4
            $ java -Xnoagent -Djava.compiler=NONE -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address="*:55555"
            # For JDK 1.4
            $ java -Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,address="*:55555",server=y,suspend=n
                # address : 수신 허용 범위
                # server  : 서버로 작동할지 여부
                # suspend : 디버거 부착까지 기다릴지 여부
            # After JDK 1.4
            $ java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address="*:55555"

    h1 jcmd Since Java 8
    p JDK 기본제공 분석 도구
    ol
        li 자바 프로세스 목록
        +asCode('shell') $ jcmd
        li 사용 가능 명령
        +asCode('shell') $ jcmd {pid} help
        li 힙 히스토그램
        +asCode('shell').
            $ jcmd {pid} GC.class_histogram # GC 실행. 실행 후 힙 상태
            $ jmap -histo {pid}             # GC 실행 X. 현재 힙 상태
        li 힙 덤프
        +asCode('shell') $ jcmd {pid} GC.heap_dump ./out.hprof
        li 시스템 프로퍼티
        +asCode('shell') $ jcmd {pid} VM.system_properties
        li 쓰레드 덤프
        +asCode('shell') $ jcmd {pid} Thread.print

    h1 jhsdb Since Java 9
    p JDK 기본제공 디버거; Java Hotspot Debugger
        +asA('https://docs.oracle.com/javase/9/tools/jhsdb.htm')
    ol
        li JVM에 디버거 부착 시 실행이 일시중지됨에 유의
        li 사용
        +asCode('shell').
            # clhsdb 커맨드라인 디버거
            $ jhsdb clhsdb [--pid pid | --exe executable --core coredump]

            # hsdb GUI 디버거
            $ jhsdb hsdb [--pid pid | --exe executable --core coredump]

            # debugd 리모트 디버그 서버 시작
            $ jhsdb debugd [options] pid [server-id]|[option] executable core [server-id]

    h1: +asA('https://visualvm.github.io/index.html', 'VisualVM')
    div
        h2 개요
        p 커맨드라인 JDK 툴과 가벼운 프로파일 기능을 포함하는 자바 프로세스 시각화 툴

        h2 Remote 프로세스 연결
        ol
            li Add Remote Host
            p 호스트 주소 입력
            li Add JMX Connection or Add jstatd Connection
            +asCode('shell', 'JMX 활성화').
                -Dcom.sun.management.jmxremote.local.only=false \
                -Dcom.sun.management.jmxremote.host=172.159.246.217 \ # ifconfig로 확인
                -Dcom.sun.management.jmxremote.port=11099 \
                -Dcom.sun.management.jmxremote.rmi.port=11099 \
                -Dcom.sun.management.jmxremote.ssl=false \
                -Dcom.sun.management.jmxremote.authenticate=false \
                -Djava.rmi.server.hostname=172.159.246.217 \

    h1 마이크로 벤치마크 유의사항
    ul
        li 메서드 테스트 전에, 여러번 호출하여 워밍업하는 것이 좋다
        li 도중에 GC가 일어나지 않도록 하는 것이 좋다
            +asA('https://openjdk.java.net/jeps/318', 'Epsilon Since Java 11')
        li 컴퓨터의 엔트로피를 이용하는 SecureRandom, SSL연결은 엔트로피를 사용할 수 있을 때까지 대기하므로 유의
