html
    body
        script(src='/source/redirect.js?200226_1657')
        ul
            li 이분법을 이용하여, 리스트 정렬 순서를 유지한 채 삽입할 수 있도록 도와준다
        ol
            li bisect.bisect_left(a, x, lo=0, hi=len(a))
            ul
                li a : 대상 리스트
                li x : 삽입할 값
                li lo, hi : 검색 구간
            |     x를 삽입하기 적절한 위치 i를 반환한다. all(val &lt; x for val in a[lo:i]), all(val >= x for val in a[i:hi]) 모두 성립한다.
            li bisect.bisect_right(a, x, lo=0, hi=len(a))
            |     all(val &lt;= x for val in a[lo:i]), all(val > x for val in a[i:hi])
            li bisect.bisect(a, x, lo=0, hi=len(a)) == bisect.bisect_right
            li
                | bisect.insort_left(a, x, lo=0; hi=len(a)) == a.insert(bisect.bisect_left(a, x, lo, hi), x)
            li bisect.insort_right(a, x, lo=0, hi=len(a)) == bisect.insort
