- String.prototype.hashCode=function(){let e,t,o=0;if(0===this.length)return o;for(e=0;e<this.length;e++)o=(o<<5)-o+(t=this.charCodeAt(e)),o|=0;return o};

mixin ad()
    ins.adsbygoogle(style="display:block;text-align:center;",data-ad-layout="in-article",data-ad-format="fluid",data-ad-client="ca-pub-7897366614471210",data-ad-slot="4044599363")

mixin asA(href, text)
    - if (!text && /#/.test(href)) { text = href.replace(/.*#/, '') }
    - if (!text && /\//.test(href)) { text = href.replace(/.*\//, '') }
    - if (!text) { text = 'Reference' }
    - text = text.replace(/\.(html?|jsp|php|asp|do|js|css|txt|java)$/, '')
    +w3a()&attributes({ href: href })&attributes(attributes)= text

mixin asCode(lan, title)
    - lan = lan || 'text'
    - title = title || lan
    p: strong
        | ↓ 
        = title
    .as-code.code-div.w3-leftbar.w3-border-green(lan=lan)
        if block
            block

mixin codeBtn(path, lan, displayRange)
    - let attr = { class: 'btn-code', title: path, displayRange: displayRange, lan: lan || 'text' }
    - if (Array.isArray(displayRange)) attr.displayRange = JSON.stringify(displayRange)
    +w3button()&attributes(attr)&attributes(attributes)
        if block
            block
        else
            = path.split('/').pop()

mixin goto(name)
    +asA(`#pos${name.hashCode()}`, `Goto - ${name}`).goto&attributes({ target: '_self' })

mixin hoverTemplate()
    div.w3-container.w3-leftbar.w3-border-green.w3-white.hover-template&attributes(attributes)
        if block
            block

mixin pos(name)
    span(id=`pos${name.hashCode()}`, style='padding:0!important;margin:0!important;width:0!important;height:0!important;overflow:hidden!important')

mixin post(title, keywords, description, useMJX, noAds)
    html(lang='ko')
        head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='google-site-verification', content='aH-DyzdytYQ0NPHNQFcs5dVoiu5YNs6CEEHYgqDmAFM')
            meta(name='author', content='Donggi Kim <hi.donggi@gmail.com>')
            meta(name='keywords', content=keywords)
            meta(name='description', content=description)

            title= title

            link#w3css(rel="stylesheet", href="/source/w3.css")
            link#highlight-style(rel="stylesheet", href="/source/xcode.css")
            link#default-style(rel="stylesheet", href="/source/default.css")
            script#highlight-js(src="/source/highlight.pack.js")
            script#default-js(src='/source/default.min.js')
            script#dsq-count-scr(src='//donggi.disqus.com/count.js',async)
            if useMJX
                link#mjx-style(rel="stylesheet", href="/source/mjx-chtml.css")
                script#MathJax-script(src='/source/tex-chtml.js',async)
                script.
                    MathJax = {
                        tex: {
                            tags: 'ams',
                            inlineMath: [['식[', ']식']]
                        }
                    };
            if !noAds
                script#kakao-ads(src='//t1.daumcdn.net/kas/static/ba.min.js', async)
                script#google-ads(data-ad-client='ca-pub-7897366614471210', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
                script#google-analytics(src='https://www.googletagmanager.com/gtag/js?id=UA-143098403-1', async)
                script.
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());
                    gtag('config', 'UA-143098403-1');
        body
            .w3-bar-block.w3-sidebar.w3-animate-left#sidebar
                hr
                a.w3-bar-item.w3-button(href='javascript:closeSidebar();') Close &times;
                hr
                #marker-list
                hr
                #post-list
                if !noAds
                    hr
                    .w3-center: ins.kakao_ad_area(style="display:none;",data-ad-unit="DAN-1k1r635zxb6g3",data-ad-width="300",data-ad-height="250")
                hr
                #file-list
                hr
            #main
                .w3-bar.w3-blue.w3-large#nav(style='position:-webkit-sticky;position:sticky;top:0px;vertical-align:middle')
                    button.w3-bar-item.w3-button.w3-hover-theme(onclick='toggleSidebar()') &#9776;
                    input.w3-bar-item#query(type='text',placeholder='search',style='max-width:35%')
                    a.w3-bar-item.w3-button.w3-hover-theme(href='/') Home
                #contents.w3-padding
                    if block
                        block
                    ins.adsbygoogle(style='display:block',data-ad-client='ca-pub-7897366614471210',data-ad-slot='6629226643',data-ad-format='auto',data-full-width-responsive='true')
                    script (adsbygoogle = window.adsbygoogle || []).push({})
                hr
                |&copy; 2020. <a href="mailto:hi.donggi@gmail.com">Donggi Kim</a> all rights reserved.
                +asA('/LICENSE')

mixin tds(...cells)
    tr&attributes(attributes)
        each content, idx in cells
            td= content

mixin ths(...cells)
    tr&attributes(attributes)
        each content, idx in cells
            th= content

mixin w3a(color)
    if color
        a.w3-btn.w3-round-xxlarge.w3-small(class=color)&attributes(attributes)
            if block
                block
    else
        a.w3-btn.w3-round-xxlarge.w3-small.w3-green&attributes(attributes)
            if block
                block

mixin w3button(color)
    if color
        button.w3-btn.w3-round-xxlarge.w3-small(class=color)&attributes(attributes)
            if block
                block
    else
        button.w3-btn.w3-round-xxlarge.w3-small.w3-teal&attributes(attributes)
            if block
                block

mixin w3img(src, alt)
    .w3-center.w3-margin-bottom
        img.w3-round(src=src, alt=alt)&attributes(attributes)
        - if (alt && alt.length > 0)
            br
            strong
                | &lt;이미지 - 
                = alt
                | >
