-
    String.prototype.hashCode = String.prototype.hashCode || function () {
        if (this.myHash) {
            return this.myHash
        }
        if(this.length === 0) {
            return this.myHash = 0
        }
        let hash = 0
        for (let i = 0; i < this.length; i++) {
            hash = (hash << 5) - hash + this.charCodeAt(i)
            hash |= 0 // 32 bit 제한을 위해
        }
        return this.myHash = hash
    }

mixin asA(href, text)
    -
        if (!text) {
            text = href.split('/').reverse().filter(part => part.length > 0)[0] || href
            if (text.search('#') < 0) {
                text = text.replace(/\..+$/, '')
            }
        }
    a.w3-btn.w3-round-xlarge.w3-small.w3-border.w3-hover-black&attributes({ href })&attributes(attributes)= text

mixin asCode(lan, title)
    - lan = lan || 'text'
    - title = title || lan
    p: strong
        |#{'↓ '}
        = title
    .as-code.code-div.w3-leftbar.w3-border-green(lan=lan)
        if block
            block

mixin asInlineCode(code, lan)
    - lan = lan || 'text'
    span.as-code.code-span&attributes({ lan })= code

//-
    options = {
        path: string,
        lan: string,
        displayRange?: string | Array<int>,
        title?: string
    }
mixin codeBtn(options)
    -
        if (arguments.length > 1 || typeof arguments[0] === 'string') {
            options = {
                path: arguments[0],
                lan: arguments[1],
                displayRange: arguments[2]
            }
        }
        const attr = {
            class: 'btn-code',
            title: options.path,
            displayRange: Array.isArray(options.displayRange) ? JSON.stringify(options.displayRange) : options.displayRange,
            lan: options.lan || 'text'
        }
    +w3button()&attributes(attr)&attributes(attributes)
        if block
            block
        else if (options.title)
            = options.title
        else
            = options.path.split('/').pop()

mixin goto(positionName, relativeLocation)
    +asA(`${relativeLocation || ''}#pos${positionName.hashCode()}`, `${positionName}`).goto&attributes({ target: relativeLocation ? '_blank' : '_self' })

mixin hoverTemplate()
    div.w3-container.w3-leftbar.w3-border-green.w3-white.hover-template&attributes(attributes)
        if block
            block

mixin pos(positionName)
    span(class='pos-span', id=`pos${positionName.hashCode()}`)

//-
    options = {
        title: string,
        description: string,
        useMath: boolean,
    }
mixin post(options)
    -
        if (arguments.length === 1 && typeof arguments[0] === 'string')
            options = { title: arguments[0] }
        else if (arguments.length > 1)
            options = {
                title: arguments[0],
                description: arguments[2],
                useMath: arguments[3],
            }
    doctype html
    html(lang='ko-KR')
        head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            title= options.title || 'No title'
            link(rel="stylesheet", href="/source/default.css")
            meta(name='google-site-verification', content='aH-DyzdytYQ0NPHNQFcs5dVoiu5YNs6CEEHYgqDmAFM')
            meta(name='author', content='Donggi Kim <hi.donggi@gmail.com>')
            meta(name='description', content=options.description)
            link(rel="icon", href="/imgs/favicon.png")

            script#google-analytics(src='https://www.googletagmanager.com/gtag/js?id=UA-143098403-1', async)
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-143098403-1');
            if options.useMath
                script#MathJax-script(src='/source/tex-chtml.js', async)
                script MathJax={tex:{tags:'ams',inlineMath:[['식[', ']식']]}};
            script#highlight-js(src="/source/highlight.pack.js", defer)
            script#default-js(src='/source/default.min.js', defer)

        body
            aside.w3-animate-left#sidebar
                hr
                #marker-list
                hr
                #post-list
                hr
                details.w3-small.file-list
                    summary LICENSE
                    table
                        +tds('Author', 'License')
                        tr
                            td &copy; <a href="mailto:hi.donggi@gmail.com">Donggi Kim</a>
                            td: +asA('https://github.com/Dong-gi/Dong-gi.github.io/blob/master/LICENSE', 'MIT')
                        tr
                            td: +asA('https://www.w3schools.com/w3css')
                            td No license
                        tr
                            td: +asA('https://highlightjs.org/', 'highlight.js')
                            td: +asA('https://github.com/highlightjs/highlight.js/blob/main/LICENSE', 'BSD-3-Clause')
                        tr
                            td: +asA('https://github.com/mathjax/MathJax')
                            td: +asA('https://github.com/mathjax/MathJax/blob/master/LICENSE', 'Apache-2.0')
                        tr
                            td: +asA('https://github.com/davidshimjs/qrcodejs', 'QRCode.js')
                            td: +asA('https://github.com/davidshimjs/qrcodejs/blob/master/LICENSE', 'MIT')
                        tr
                            td: +asA('https://github.com/terrastruct/d2', 'D2')
                            td: +asA('https://github.com/terrastruct/d2/blob/master/LICENSE.txt', 'MPL-2.0')
                hr

            main#main
                nav.w3-bar.w3-blue#nav
                    button.w3-bar-item.w3-button.w3-hover-theme#nav-toggle-btn &#9776;
                    input.w3-bar-item#query(type='text',placeholder='search',style='max-width:35%')
                    a.w3-bar-item.w3-button.w3-hover-theme(href='/') Home
                article#contents
                    if block
                        block

mixin tds(...cells)
    tr&attributes(attributes)
        each content, idx in cells
            td= content

mixin ths(...cells)
    tr&attributes(attributes)
        each content, idx in cells
            th= content

mixin w3button(color)
    if color
        button.w3-btn.w3-round-xxlarge.w3-small(class=color)&attributes(attributes)
            if block
                block
    else
        button.w3-btn.w3-round-xxlarge.w3-small.w3-teal&attributes(attributes)
            if block
                block

mixin w3img(src, description)
    figure.w3-center.w3-margin-bottom
        img.w3-round(src=src, alt="Can't load image", loading='lazy')&attributes(attributes)
        figcaption
            |&lt;
            = description || (src.split('/').pop())
            |>
