- String.prototype.hashCode=function(){let e,t,o=0;if(0===this.length)return o;for(e=0;e<this.length;e++)o=(o<<5)-o+(t=this.charCodeAt(e)),o|=0;return o};

mixin w3a(color)
    if color
        a.w3-btn.w3-round.w3-round-xxlarge.w3-small(class=color)&attributes(attributes)
            if block
                block
            else
                |참고 »
    else
        a.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-green&attributes(attributes)
            if block
                block
            else
                |참고 »

mixin w3img(src, alt)
    img.w3-round(src=src, alt=alt)&attributes(attributes)

mixin w3button(color)
    if color
        button.w3-btn.w3-round.w3-round-xxlarge.w3-small(class=color)&attributes(attributes)
            if block
                block
            else
                |예시 코드 »
    else
        button.w3-btn.w3-round.w3-round-xxlarge.w3-small.w3-teal&attributes(attributes)
            if block
                block
            else
                |예시 코드 »

mixin asA(href)
    +w3a()&attributes({ href: href, target: '_blank' })&attributes(attributes)= href

mixin post(file, category, title)
    template.post(file=file, category=category, title=title)&attributes(attributes)
        if block
            block

mixin marker()
    a.marker(style="width:0;height:0;font-size:0")