include ../../source/skeleton.pug

+post({
    title: 'docker-mailserver 설치',
    description: 'docker-mailserver 설치 과정',
})

    h1 참고 문서
    ul
        li: +asA('https://docker-mailserver.github.io/docker-mailserver/edge/#getting-started')
        li: +asA('https://hub.docker.com/r/mailserver/docker-mailserver')

    h1 설치 절차
    ol
        li 설치 디렉터리에 다음 파일들 준비
        ul
            li: +asA('https://github.com/docker-mailserver/docker-mailserver/blob/master/docker-compose.yml', 'docker-compose.yml')
            li: +asA('https://github.com/docker-mailserver/docker-mailserver/blob/master/mailserver.env', 'mailserver.env')
            li: +asA('https://github.com/docker-mailserver/docker-mailserver/blob/master/setup.sh', 'setup.sh')
            p 명령어 설명 :
                +asA('https://docker-mailserver.github.io/docker-mailserver/edge/config/setup.sh/')

        li 루트 이메일 계정 추가
        +asCode('shell') $ ./setup.sh email add name@example.com password

        li DKIM 생성
        +asCode('shell') $ ./setup.sh config dkim
        p 생성된 docker-data/dms/config/opendkim/keys/${domain}/mail.txt에 적힌 4개 줄
        +asCode('txt', 'DKIM 예').
            mail._domainkey IN      TXT     ( "v=DKIM1; h=sha256; k=rsa; "
            "p=MIICIjANBgkqhkiG9...bcg9S8pPBMP6UvHja"
            "CfmAAKOPddfdWGpzg5V...lua+sZuXwaAqBWjo"
            "b3DXduFMNIqaQ4Mgqn/...ZbKskd9ZUCAwEAAQ==" )  ; ----- DKIM key mail for 4joy.link

        li DNS 설정
        table
            +ths('레코드 이름', '유형', '값')
            +tds('4joy.link', 'MX', '1 mail.4joy.link')
            tr
                td mail._domainkey.4joy.link
                td TXT
                td v=DKIM1; h=sha256; k=rsa; "<br>"p=MIICIjANBgh...g9S8pPBMP6UvHja"<br>"CfmAAKOPddf...sZuXwaAqBWjo"<br>"b3DXduFMNI...9ZUCAwEAAQ=="')
            +tds('mail.4joy.link', 'A', 'xxx.xxx.xxx.xxx')

        li 컨테이너 실행
        +asCode('shell') $ docker-compose up -d --build
